@font-face {
  font-family: 'YandexRegular';
  src: url('../../fonts/YandexSansDisplay-Regular.woff');
}

@font-face {
  font-family: 'YandexBold';
  src: url('../../fonts/YandexSansText-Medium.woff');
}

.main {
  width: 100%;
  padding-right: 0;
  box-sizing: border-box;
  display: block;
  min-width: max-content;
  position: relative;
  margin-top: 10px;
}

.main__left-column {
  display: inline-block;
  width: 147px;
  margin: 0;
  vertical-align: top;
}

.left-column__btn_write {
  height: 32px;
  width: 147px;
  background-color: #6287bd;
  color: white;
  border: 0;
  border-radius: 3px;
}

.left-column__btn-group {
  width: 147px;
}

.btn-group__control-button {
  margin-top: 5px;
  width: 147px;
  min-height: 22px;
  background-color: transparent;
  border: 0;
  text-align: left;
  padding-left: 10px;
  display: block;
}

.btn-group__control-button:hover{
  background-color: #cdd6e4;
  border-radius: 3px;
  font-weight: bold;
}

.main__message-block {
  left: 150px;
  right: 0;
  position: absolute;
  display: inline-block;
  background-color: white;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
  /*min-width: 800px;*/
  min-height: 500px;
  min-width: 1000px;
  overflow: hidden;
  height: auto;
  padding-bottom: 31px;
}

.message-block__row {
  height: 40px;
  padding: 0;
  display: block;
  position: relative;
  /*transition-property: transform, opacity, height;
  transition-duration: 1000ms, 1000ms, 1000ms;*/
}

.message-block__upper-row {
  border-bottom: solid 1px #e2e2e2;
}

.check__input {
  display: inline-block;
  float: left;
  margin-left: 20px;
  margin-top: 11px;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  padding: 1px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  -webkit-appearance: none;
  outline: none;
}
.check__input:checked {
  background: #6b6868;
  background-clip: content-box;
}

.upper-row__btn {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  font-size: 16px;
  border: 0;
  color: #cccccc;
  margin-right: 26px;
  margin-left: 20px;
  margin-top: 10px;
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  visibility: visible;
}

.message-block__central-row {
  border-bottom: solid 1px #e2e2e2;
  display: block;
}

.central-row__avatar-frame {
  vertical-align: top;
  margin-left: 10px;
  margin-top: 5px;
  display: inline-block;
  height: 30px;
  width: 30px;
}

.central-row__ya-circle {
  background-color: #ff3333;
  border: 0;
  border-radius: 50%;
  text-align: center;
  color: white;
  height: 30px;
  width: 30px;
  padding: 0;
}

.ya-circle__ya-letter {
  display: inline;
  margin-top: 5px;
  margin-left: -1px;
  font-size: 25px;
}

.central-row__msg-sender {
  vertical-align: top;
  margin-top: 10px;
  display: inline-block;
  margin-left: 10px;
  min-width: 250px;
}

.message-block__central-row_unread .central-row__msg-sender {
  font-family: YandexBold;
}

.message-block__central-row_unread .central-row__point {
  vertical-align: top;
  margin-left: 20px;
  margin-top: 15px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #6287bd;
  border-radius: 50%;
}

.message-block__central-row_read .central-row__point {
  vertical-align: top;
  margin-left: 20px;
  margin-top: 15px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
}

.central-row__msg-theme {
  vertical-align: top;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
}

.message-block__central-row_unread .central-row__msg-theme {
  font-family: YandexBold;
}

.message-block__central-row_read .point {
  visibility: hidden;
}

.central-row__date {
  right: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  display: inline-block;
  text-align: right;
  float: right;
  color: #9b9b9b;
  width: max-content;
}
/*
.hidden-message {
  display: none;
}

#hidden-message__chb {
  display: none;
}

#hidden-message__chb:checked + .hidden-message {
  position: absolute;
  top: 0;
  display: block;
  background-color: white;
  z-index: 100;
  margin-top: 0;
  min-height: 390px;
  width: calc(100% - 40px);
  height: calc(100% - 76px);
  padding: 20px;
  margin-bottom: 36px;
}

.hidden-message__img {
  alignment: right;
  height: 200px;
  width: 300px;
  border-radius: 50%;
  background-color: #7db9e8;
  margin: 0 25px 5px 0;
  float: left;
  -webkit-shape-outside: circle();
  shape-outside: circle();
}

.hidden-message__cross {
  color: rgba(0, 0, 0, 0.25);
  z-index: 200;
  horiz-align: right;
  float: right;
}

.hidden-message__text {
  margin-top: 30px;
}
*/
.message-block__lower-row {
  position: absolute;
  float: bottom;
  margin-left: 0;
  bottom: 0;
  border-top: solid 1px #e2e2e2;
  height: 31px;
  color: #9b9b9b;
  width: 100%;
  font-family: YandexRegular;
  padding-right: 20px;
  min-width: max-content;
  text-align: right;
}

.lower-row__item {
  margin-top: 5px;
  display: inline-block;
  margin-right: 20px;
  min-width: max-content;
}

.message-block__deleted {
  transition-duration: 1s;
  overflow: hidden;
  transform: translate(0, -40px);
  opacity: 0;
  height: 0;
  margin-bottom: -1px;
}

@keyframes expand {
  from {
    transform: scaleY(0);
    height: 0px;
    opacity: 0;
    background: #5470B0;
  }
}

.message-block__new-message {
  /*transform: scaleY(0);*/
  height: 0;
  /*opacity: 0;*/
  overflow: hidden;
  /*transition-property: transform, height;
  transition-duration: 1s;*/

  animation: expand 1s ease-in-out;
}

.new-message__appear {
  height: 40px;
  transition-duration: 1s;
  transform: scaleY(1);
  opacity: 1;
}

.central-row__open-message_button {
  position: absolute;
  width: calc(100% - 40px);
  right: 0;
  height: 100%;
  background-color: transparent;
}

.message-block__message-list-container {
  min-height: 500px;
}

.message-block__message-list {
  visibility: visible;
  position: relative;
  max-height: 1230px;
  overflow: hidden;
}

.message-block__message-list_hidden {
  position: absolute;
  visibility: hidden;

}

.message-block__message-text {
  /*display: none;*/
  visibility: hidden;
  height: 0;
}

.message-block__message-text_visible {
  display: block;
  background-color: white;
  margin: 20px;
  visibility: visible;
  height: auto;
}

.message-text__hide_button {
  height: 32px;
  width: 100px;
  background-color: #6287bd;
  color: white;
  border: 0;
  border-radius: 3px;
}
