.app {
  text-align: center;
}

.app-header {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: #fff;
  font-size: calc(10px + 2vmin);
}

.app-link {
  color: #61dafb;
}

.mail_body {
  background-color: #e5eaf0;
  padding-top: 12px;
  padding-left: 22px;
  padding-right: 0;
  font-family: YandexRegular, sans-serif;
}

body {
  background-color: #e5eaf0;
  padding-top: 12px;
  padding-left: 22px;
  padding-right: 0;
  font-family: YandexRegular, sans-serif;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
